@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-song{
  position: absolute;
  /* z-index: 9px; */
  background-color: salmon;
}

.song-action{
    border: 1px solid;
    width: 150px;
    display: flex;
    justify-content: space-around;
}
/* #swal-input1{
  border: 3px solid salmon;
} */